#pce-react-container {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	z-index: 999999 !important;
}

.pce-my-extension {
	position: absolute !important;
	width: 32px !important;
	height: 32px !important;
	overflow: visible !important;
	bottom: 1px !important;
	right: 1px !important;
}
.pce-context-logo {
	width: 24px !important;
	height: 24px !important;
	cursor: pointer !important;
	background: rgba(255, 255, 255, 0.5) !important;
	background-color: rgba(0, 0, 0) !important;
	border-radius: 4px !important;
	z-index: 999999 !important;
}

.pce-context-modal {
	display: flex !important;
	flex-direction: column !important;
	background-color: rgba(0, 0, 0) !important;
	color: #e8eaed !important;
	padding: 12px !important;
	border-radius: 8px !important;
	position: absolute !important;
	right: 35px !important;
	bottom: 0px !important;
	z-index: 999999 !important;
	box-sizing: border-box !important;
}

.pce-menu-item {
	padding: 4px !important;
	cursor: pointer !important;
	border-radius: 4px !important;
	font-size: 12px !important;
	text-align: left !important;
	min-height: 16px !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.pce-menu-item:hover {
	background-color: rgb(53, 52, 52) !important;
}

.pce-menu-item-internal-container {
	margin: 4px !important;
}
