#pce-react-container {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	z-index: 999988 !important;
}

.pce-disable-button {
	width: 13px !important;
	height: 13px !important;
	border-radius: 6px;
	position: absolute;
	top: -7px;
	right: 2px;
	cursor: pointer;
	background-color: rgba(0, 0, 0) !important;
}
.pce-disable-tooltip {
	background-color: rgb(44, 44, 44) !important;
	position: absolute;
	top: -34px;
	right: -40px;
	padding: 4px;
	border-radius: 6px;
	font-size: 12px;
	color: white;
	text-wrap: nowrap;
	z-index: 999999 !important;
}

.pce-disable-button:hover {
	background-color: rgb(94, 92, 92) !important;
}

.pce-my-extension {
	position: absolute !important;
	width: 32px !important;
	height: 32px !important;
	overflow: visible !important;
	bottom: 1px !important;
	right: 1px !important;
}
.pce-context-logo {
	width: 24px !important;
	height: 24px !important;
	cursor: pointer !important;
	border-radius: 4px !important;
	z-index: 999988 !important;
	margin-right: 4px;
}

.pce-context-modal {
	display: flex !important;
	flex-direction: column !important;
	background-color: rgba(0, 0, 0) !important;
	color: #e8eaed !important;
	padding: 2px !important;
	border-radius: 8px !important;
	position: absolute !important;
	right: 35px !important;
	bottom: 0px !important;
	z-index: 999988 !important;
	box-sizing: border-box !important;
	gap: 4px;

	/* Animation properties */
	animation: fadeInUp 0.2s ease-out;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.pce-menu-item-icon {
	width: 16px !important;
	height: 16px !important;
}

.pce-menu-item {
	padding: 4px !important;
	cursor: pointer !important;
	border-radius: 4px !important;
	font-size: 12px !important;
	text-align: left !important;
	min-height: 22px !important;
	display: flex !important;
	gap: 10px;
	justify-content: flex-start !important;
	text-wrap: nowrap;
	align-items: center;
}

.pce-menu-item:hover {
	background-color: rgb(53, 52, 52) !important;
}

.pce-menu-item-internal-container {
	margin: 4px !important;
}

.pce-disable-tooltip {
	position: fixed; /* Ensures the tooltip is fixed */
	display: none; /* Initially hidden */
	/* Additional styling for your tooltip */
}
